<% title "Designs by #{@user.username}" %>


<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Date</th>
    </tr>
    <% for design in @user.designs %>
        <tr>
            <td><h3><%= link_to design.name, design %></h3></td>
            <td><%= design.width %>&times;<%= design.height %></td>
            <td><%= Time.at(design.created_at).strftime("%b %-d, %l:%M%P") %></td>
        </tr>
    <% end %>
</table>