/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.container.body {
	padding-top: 60px;
}

.designer {
	border: 1px solid gray;
	min-height: 400px;
	display: inline-block;
}
.navbar .brand.rchtct.exo {
	font-weight: 700;
	font-size: 28px;
	padding: 6px 0 6px 20px;
}
.navbar .brand.rchtct.sonsie {
	font-size: 26px;
	padding: 6px 0 8px 20px;
}
ul#log-list {
	font-family: 'Share', cursive ;
	width: 210px;
	font-size: 11px;
	height: 500px;
	overflow-y: auto;
}
ul#log-list li:first-child {
	border: 1px solid gray;
}
.exo {
	font-family: 'Exo', sans-serif;
}
.sonsie {
	font-family: 'Sonsie One', cursive;
}